<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Workouts List</title>
	<link rel="stylesheet" href="styles.css" type="text/css">
	<script src="script.js" type="text/javascript"></script>
</head>
<body>
	{{{body}}}
</body>
</html>