<h1>Enter a new workout</h1>
	<form>
	<fieldset>
		<label>Name:  
			<input type="text" id="newEntryName" required="true">
		</label>
		<br>
		<label>Done?:  
			<input type="checkbox" id="newEntryDone">
		</label>
		<br>
		<label>Due Date: 
			<input type="date" id="newEntryDueDate">
		</label>
		<br>
		<input id="newEntrySubmit" type="submit" value="Submit Workout" />
	</fieldset>
</form>
<h1>Current workout entries</h1>